.rc-textbox {
    height: 100% !important;
}

.rc-medium-btn {
    height: 35px;
    width: 200px;
    font-size: 16px !important;
    -webkit-border-radius: 9px !important;
    -moz-border-radius: 9px !important;
    border-radius: 9px !important;
}

.custom-btn {
    margin-right: 12px !important;
}